*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --zaff-title: #ff9614;
    --zaff-background: #f6f5f3;
    --zaff-dessert: #4e3969;
    --zaff-footer: #7c69a4;
    --zaff-description: #b3b3b2;
}

body{
    font-family: "Montserrat", sans-serif;
}

/* #region utilities */

.container{
    width: 80%;
    margin: auto;
}

.row{
    margin: 0 -1rem;
    display: flex;
}

.col-12{
    width: 100%;
}

.col-1{
    width: calc((100% / 12) *1);
}

img{
    max-width: 100%;
}

/* #endregion utilities */

/* #region flex */

.d-flex{
    display: flex;
}

.space-evenly{
    justify-content: space-evenly;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-content{
    justify-content: center;

}

/* #endregion flex */

/* #region header */

header{
    font-family: "Nerko One", cursive;
    background-color: white;
    text-align: center;
    padding: 1rem 0;

    .title-header{
        color: var(--zaff-title);
        font-size: 35px;
    }
}

/* #endregion header */

/* #region main */

main{
    background-color: var(--zaff-background);
}

/* #region description */

#description{

    .description{
        color: var(--zaff-description);
        padding: 2rem 0;
        font-size: 15px;
    }

    .title-main{
        color: var(--zaff-dessert);
        padding-bottom: 2rem;
        font-size: 30px;
    }
}

/* #endregion description */

/* #region video-card */

#video-card{

    .card{
        background-color: white;
        padding: 2rem 1rem;
        box-shadow: 5px 5px 10px 5px lightgray;
    }

    .card div{
        padding-bottom: 0.5rem;
    }

    span{
        vertical-align: super;
    }

    .portions img{
        width: 24px;
    }

    div span:last-child{
        font-weight: bold;
    }
}

/* #endregion video-card */

/* #region socials */

#socials{
    padding: 2rem 0;

    img{
        width: 24px;
        vertical-align: text-bottom;
    }

    .col-1 div{
        width: 40px;
        /* height: 30px; */
        padding: 10px;
        background-color: white;
        border-radius: 50%;
        text-align: center;
        box-shadow: 5px 5px 10px 5px lightgray;
    }
}

/* #endregion socials */

/* #region adv */

@media screen and (max-width: 767px){
    .adv-none{
        display: none;
    }
}

/* #endregion adv */

/* #region presentation */

#presentation{
    padding: 2rem 0;

    img{
        width: 50%;
        margin: 3% 25%;
        box-shadow: 5px 5px 10px 5px lightgray;
    }

    hr{
        border: 1px solid var(--zaff-title);
        margin-right: 89%;
    }

    p{
        line-height: 1.5rem;
        font-size: 18px;
    }

    span{
        font-weight: bold;
    }
}

@media screen and (min-width: 577px) {
    #presentation img{
        float: left;
        margin: 1rem;
    }
    
}

/* #endregion presentation */

/* #endregion main */