*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --zaff-title: #ff9614;
    --zaff-background: #f6f5f3;
    --zaff-dessert: #4e3969;
    --zaff-footer: #7c69a4;
    --zaff-description: #b3b3b2;
}

body{
    font-family: "Montserrat", sans-serif;
}

/* #region utilities */

.container{
    width: 80%;
    margin: auto;
}

.row{
    display: flex;
}

.col-12{
    width: 100%;
}

.col-2{
    width: calc((100% / 12) *2);
}

img{
    max-width: 100%;
}

section{
    padding: 2rem 0;
}

/* #endregion utilities */

/* #region flex */

.d-flex{
    display: flex;
}

.space-evenly{
    justify-content: space-evenly;
}

.flex-wrap{
    flex-wrap: wrap;
}

.space-around{
    justify-content: space-around;
}

.space-between{
    justify-content: space-between;
}

/* #endregion flex */

/* #region header */

header{
    font-family: "Nerko One", cursive;
    background-color: white;
    text-align: center;
    padding: 1rem 0;

    .title-header{
        color: var(--zaff-title);
        font-size: 35px;
    }
}

/* #endregion header */

/* #region main */

main{
    background-color: var(--zaff-background);
}

/* #region description */

#description{

    .description{
        color: var(--zaff-description);
        padding-bottom: 1rem;
        font-size: 15px;
    }

    .title-main{
        color: var(--zaff-dessert);
        padding-bottom: 2rem;
        font-size: 30px;
    }
}

/* #endregion description */

/* #region video-card */

#video-card{

    .card{
        background-color: white;
        padding: 2rem 1rem;
        box-shadow: 5px 5px 10px 5px lightgray;
    }

    .card div{
        padding-bottom: 0.5rem;
    }

    span{
        vertical-align: super;
    }

    .portions img{
        width: 24px;
    }

    div span:last-child{
        font-weight: bold;
    }
}

/* #endregion video-card */

/* #region socials */

#socials{

    .container{
        display: flex;
        justify-content: space-around;
    }

    img{
        width: 24px;
        vertical-align: text-bottom;
    }

    .btn{
        width: 40px;
        padding: 10px;
        background-color: white;
        border-radius: 50%;
        text-align: center;
        box-shadow: 5px 5px 10px 5px lightgray;
    }
}

/* #endregion socials */

/* #region adv */



/* #endregion adv */

/* #region presentation */

#presentation{

    img{
        width: 50%;
        margin: 3% 25%;
        box-shadow: 5px 5px 10px 5px lightgray;
    }

    hr{
        border: 1px solid var(--zaff-title);
        margin-right: 89%;
    }

    p{
        line-height: 1.5rem;
        font-size: 18px;
    }

    span{
        font-weight: bold;
    }
}


/* #endregion presentation */

/* #endregion main */

/* #region footer */

#app-footer{
    background-color: var(--zaff-footer);
    color: white;
    font-size: 18px;

    .copyright, .address{
        text-align: center;
        padding-bottom: 1rem;
    }

    .copyright{
        font-weight: bold;
        padding-top: 2rem;
    }

    .link{
        padding: 2rem;

        a{
            padding: 0.5rem;
            color: white;
        }
    }
}

/* #endregion footer */

/* #region media query */

@media screen and (min-width: 577px) {
    #presentation img{
        float: left;
        margin: 1rem;
    }
}

@media screen and (max-width: 767px){
    .adv-none, .h2-none{
        display: none;
    }

}

@media screen and (min-width: 768px) {

    .container-s{
        width: 75%;
        margin: auto;
    }
    header{
        .title-header{
            text-align: left;
            padding-left: 1.5rem;
            font-size: 50px;
        }
    }

    #video-card{
        .card-d-flex{
            display: flex;
            flex-wrap: wrap;
            div{
                padding: 2rem 1rem;
            }
        }
    
        .col-4{
            width: calc((100% / 12) *4);
        }
    
        .col-8{
            width: calc((100% / 12) *8);
        }

    }

    #socials{
        .btn-lg{
            width: 110px;
            padding: 5px 45px;
            background-color: white;
            border-radius: 2rem;
            text-align: center;
            box-shadow: 5px 5px 10px 5px lightgray;
            justify-content: space-between;
        }
    }
}

@media screen and (min-width: 992px) {
    .container-xs{
        width: 70%;
        margin: auto;
    }

    #description{
        .title-main-lg{
            font-size: 40px;
        }
    }

    #video-card{
        .col-8-lg{
            width: calc((100% / 12) *8);
            img{
                height: 300px;
            }
        }
        .col-4-lg{
            width: calc((100% / 12) *4);
            height: 300px;
        }
        .col-12-lg{
            width: 100%;
            padding: 0.5rem 1rem;
        }
        .card-d-flex{
            div{
                padding: 0;
                font-size: 15px;
            }
        }
    }

    #socials{
        a{
            text-decoration: none;
            color: black;
        }
        .row{
            justify-content: space-between;
        }
        .btn-xlg{
            width: 145px;
            padding: 5px;
            background-color: white;
            border-radius: 2rem;
            text-align: center;
            box-shadow: 5px 5px 10px 5px lightgray;
            justify-content: space-around;
        }
    }

    #app-footer{
        font-size: 15px;
        
        .col-6-xlg{
            width: 50%;
        }
        .left{
            justify-content: flex-start;
            padding-left: 2rem;
            
        }
        .copyright, .address{
            text-align: left;
        }
        .right{
            flex-wrap: nowrap;
            align-items: center;
            a{
                padding: 0;
            }
        }
    }

}

@media screen and (max-width: 991px){
    #socials{
        .btn-lg span{
            display: none;
        }
}
}

/* #endregion media query */